/*========================== This Css Files Are customized Bootstrp ===============*/
/* ==========================Created By Mohammed Shameer==============================*/

/* Import Bootstrap Css */
@import url(./bootstrap.css);
/* Import Bootstrap Css */

/* Globel  */
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

/* Home Text Section */
header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../assets/img/gif2.gif");
   
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  
  }
  header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  header.masthead .masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 17rem;
      padding-bottom: 12.5rem;
    }
    header.masthead .masthead-subheading {
      font-size: 2.25rem;
      font-style: italic;
      line-height: 2.25rem;
      margin-bottom: 2rem;
    }
    header.masthead .masthead-heading {
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 4.5rem;
      margin-bottom: 4rem;
    }
  }

  /* All Page Section */

  .page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
  }

/* NvBar Logo */
.nav-logo{
    color: #ffc800;
    
}
/* Button Color */
.btn-col {
    color: #fff;
    background-color: #ffc800;
    border-color: #ffc800;
  }
  .btn-col:hover {
    color: #fff;
    background-color: #d9aa00;
    border-color: #cca000;
  }

/* Card Img Hover */

.pop-hover:hover{
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

/* Contact Sction */

section#contact {
  background-color: #212529;
  background-image: url("../assets/img/contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
}


